/* * {
  outline: 1px solid orange;
} */

body {
  background-color: #e1f0f1;
}

.app-wrapper {
  width: 80%;
  margin: 2em auto;
  padding: 2em;
  border: 1em solid #6bb6bb;
  border-radius: 15px;
  background-color: #6bb6bb;
}

header {
  text-align: center;
  padding: 1em;
  background: #203738;
  border: 1em solid #203738;
  border-radius: 15px;
  box-sizing: border-box;
}

.product-container {
  width: 100%;
  padding: 1em;
  background-color: #6bb6bb;
  box-sizing: border-box;
}

.product-container ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
}

.product-container ul li {
  flex: 1 1 20%;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.product-container ul li img {
  width: 80%;
  cursor: pointer;
}

.product-container p {
  margin: 1em auto;
  width: 40%;
}

.product-results {
  display: flex;
  align-items: flex-start;
  margin: 2em auto;
  background: #f3f3f3;
  border: 1em solid #f3f3f3;
  border-radius: 15px;
  box-sizing: border-box;
}

.product-results ul, .product-results div {
  padding: 2em;
} 

.product-results ul{
  flex: 1 1 30%;
  list-style-position: inside;
}

.product-results ul li {
  padding: 0.2em;
}

.product-results li:nth-child(even) {
  background-color: #ddd;
}

.product-results div {
  flex: 1 1 60%;
}

#barChart {
  width: 100%;
}