@import 'index.css';
@import 'fonts.css';

/* color guide: http://www.hp-stylelink.com/news/2013/07/20130708.php#lowList14 */
.site-dkred   {color: #3d1a11;}
.site-blue    {color: #6bb6bb;}
.site-blk     {color: #203738;}
.site-wht     {color: #f3f3f3;}

/* site global styles */

* {
  padding: 0px;
  margin: 0px;
}

.bg-color {
  background-color: #36342b;
}

.content-bg-color {
  background-color: #dcb780;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
